<head>

    <link rel="stylesheet" href="../static/css/contract.css">

</head>

<body>
    <div style="font-size: 14px;">
        <div class="header">
            <center><b style="font-size: 14px;">To'lov kontrakt (ikki tomonlama kontrakt) asosida
                    mutaxassis
                    tayyorlashga</b></center>
            <center>
                <h2>Shartnoma <img src="../static/images/nomer.png" style="width: 21px;"> <u>_{{id}}_</u></h2>
            </center>
        </div>

        <center>
            <h2>Buxoro shahri <span style="color: white;">_________________________________</span>
                {{date}}
            </h2>
        </center>

        <div>
            <span class="ml-6">Buxoro innovatsion tibbiyot texnikumi ta'sischilar kengashining 2023 yil 19 iyundagi 7 -
                sonli
                qaroriga
                muvofiq</span> <br> <b>BUXORO INNOVATSION TIBBIYOT TEXNIKUMI</b> nomidan
            direktori <b>Pulatov Nodir Temirovich</b> bir <br>
            tomondan____________________________________________________________________________________________
            <center>(jismoniy shaxsning familiyasi, ismi sharifi)</center>
            ________________________________________talaba___________________________________ikkinchi tomondan <br>
            <center> ________________________________<u>{{last_name}} {{first_name}}
                    {{father_name}}</u>_______________________________</center>
            <center> (talabaning familiyasi, ismi sharifi)</center>

            <center>
                __________________________<u>{{direction}}</u>_________________________
            </center>
            <center>(ta'lim yunalishi, mutaxassisilik nomi)</center>
            mutaxassis qilib tayyorlash to'g'risida mazkur shartnomani tuzildi

        </div>

        <br>
        <b>O'qish muddati: 3 yil</b> <br>
        <b> O'quv kursi: 1-kurs</b>


        <center><b>1. TOMONLARNING MAJBURIYATLARI</b></center>

        <p class="cont_1"><b>1.1 Ta'lim muassasasi:</b> <br>
            1.1.1 O'qitish uchun O'zbekiston Respublikasining "Ta'lim to'g'risida"gi Qonun va Kadrlar tayyorlash milliy
            dasturiga muvofiq ta'lim muassasalari Ustavida nazarda tutilgan zarur shart-sharoitlarni yaratish; <br>
            1.1.2 Talabalarga qonun bilan berilgan huquqlarining erkin amalga oshirilishini va ta'lim muassasasi
            Ustaviga muvofiq majburiyatlarning bajarilishini ta'minlash; <br>
            1.1.3 Mutaxassisini tasdiqlangan o'quv rejasi va dasturlariga muvofiq davlat ta'lim standarti talablari
            darajasida tayyorlash; <br>
            1.1.4 Boshlanadigan o'quv semestrida o'qitish uchun to'lovning belgilangan miqdori to'g'risida o'z vaqtida
            (o'quv jarayoni boshlanishidan bir oy oldin) xabar berish; <br>
            1.1.5 Shartnoma to'lovi o'zgartirilganda talabaga 7 ish kuni oldin xabar berish; <br>
            1.1.6 Eng kam ish haqi miqdori yoki tariflar o'zgarganda ta'limning qolgan muddati uchun to'lov miqdori
            haqida xabar berish; <br>
            1.1.7 Tomonlarning roziligiga ko'ra boshqa shartlarni bajarish majburiyatini oladi; <br>
            <b>1.2 Buyurtmachi ( jismoniy shaxs):</b> <br>
            1.2.1 Joriy o'quv yili uchun belgilangan o'qitishning qiymatini o'z vaqtida to'lash; <br>
            1.2.2 o'qitish uchun to'lov haqqining kamida 50 foizini birinchi kurs uchun shartnoma imzolangan kundan
            boshlab 20 kundan kechiktirmasdan to'lash, ikkinchi va yuqori kurslar uchun 15 oktabrgacha, qolgan qismini 1
            martgacha to'lashi shart; <br>
            1.2.3 tegishli vakolatli davlat organi tomonidan shartnoma to'lovini to'lash muddati uzaytirilganda,
            uzaytirilgan muddatgacha shartnoma to'lovini to'lab berishi shart; <br>
            1.2.4 eng kam oylik ish haqi miqdorlari yoki tariflar o'zgarganda, o'qishning qolgan muddati uchun bir oy
            muddat ichida ta'lim muassasasiga haq to'lash va shartnomalarga tegishli o'zgartirishlar kiritish; <br>
            1.2.5 ta'lim muassasasining abituriyentni o'qishga qabul qilinganligi to'g'risidagi buyrug'i o'qitish uchun
            to'lov amalga oshirilgandan so'ng, joriy o'quv yili boshlangan kundan boshlab bir oylik muddatdan
            kechiktirilmasdan chiqariladi. <br>
            1.2.6 ta'lim muassasasi bitiruvchi kurs talabalari oxirgi o'quv yili uchun to'lovni oxirgi semestr
            boshlanguncha 100% to'lashi shart. <br>
            1.2.7 To'lov amalga oshirilgandan so'ng talaba texnikum buxgalteriyasiga to'lovni tasdiqlovchi hujjatlarni
            taqdim etishi shart. <br>
            1.2.8 Mehnatga haq to'lashning eng kam miqdori yoki tariflar o'zgarganda, ushbu farq o'qitishning qolgan
            muddati uchun ta'lim muassasiga to'lanishi lozim. <br>
            1.2.9 Texnikum tomonidan tashkil etilgan sport-sog'lomlashtirish, ma'naviy-ma'rifiy va boshqa ijtimoiy
            tadbirlarda ishtirok etish; <br>
            1.2.10 Texnikum tomonidan belgilangan ichki tartib qoidalari talabalariga to'liq rioya qilishi, oliygoh
            rahbariyati tomonidan chiqarilgan buyruq va farmoyishlarni so'zsiz bajarishi shart. <br>
            <b>2. O'qitishning to'lov miqdori, muddatlari va to'lash tartiblari:</b> <br>
            <b>2.1</b> Kunduzgi ta'lim shakli(ta'lim tili: o'zbek) hamshiralik yo'nalishi (mutaxassisligi) uchun
            2023-2024
            o'quv yilida o'qitishning yillik to'lov miqdori MHEKM miqdorining 11 barobari ya'ni 10 120 000 (o'n million
            bir yuz yigirma ming) so'mni tashkil etadi. Ta'lim jarayonida talabalarga stipendiya berish nazarda
            tutilmagan. <br>
            <b>2.2</b> Mehnatga haq to'lashning eng kam miqdori oshirilganda to'lov-kontrakt shartnomasi qiymati miqdori
            navbatdagi semestr boshidan mos ravishda oshiriladi. <br>
            <b>2.3</b> Talaba o'quv yili boshida 100 % to'lov amalga oshirganda, Mehnatga haq to'lashning eng kam
            miqdori
            oshirilsa ham, oshirilgan to'lov qiymatini shu o'quv yili uchun to'lamaydi. <br>
            2.4 Talaba tahsil olayotganda o'quv yillari uchun kontrakt to'lov miqdorlari va tariflari o'zgarganda,
            buyurtmachi yoki jismoniy shaxslarga to'lovlarni amalga oshirishlari uchun har bir o'quv yilida to'lov
            varaqalari rasmiylashtirib beriladi. <br>
            2.5 O'qitish uchun to'lov quyidagi tartibda amalga oshiriladi. <br>
            a) Semestrlarga bo'lib to'langanda: <br>
            - 1 semestr(birinchi yarim yillik)uchun birinchi kursda shartnoma imzolangan kundan kamida 20 kun ichida
            - 2 semestr (ikkinchi yarim yillik)uchun 1 martgacha, keyingi kurslar, ya'ni ikkinchi va undan yuqori
            kurslarda mos ravishda 15 oktabr hamda 1-martgacha 100 % to'lanishi shart. <br>
            b) Choraklarga bo'lib to'langanda

            - belgilangan to'lov miqdorining kamida 50 foizini talabalikka tavsiya etilgan abituriyentlar uchun
            shartnoma imzolangan kundan kamida 20 kun ichida, ikkinchi va undan yuqori kurslarda 15 oktabrgacha.
            2.6 Shartnomaning 2.5 bandida ko'zda tutilgan to'lov muddatlarini o'zgartirish Buyurtmachi(talaba) ning
            asosli sabablari ko'rsatilgan holdagi yozma murojaatiga ko'ra Texnikum kengashining qarori asosida qabul
            qilinadi va bir semestr uchun amal qiladi. <br>
            <b>2.7 Talaba texnikumning ichki tartib qoidalarni, o'quv intizomini buzganligi va akademik
                o'zlashtirilmaganligi shuningdek, shartnoma shartlarini bajarmaganligi uchun o'qishdan
                chetlashtirilganda
                o'qigan davri uchun to'langan to'lovlar yoki shu semestr uchun qilingan to'lovlar qaytarib berilmaydi,
                to'lanmagan taqdirda esa, talabaning o'qishga qatnashgan davr uchun to'lov ixtiyoriy yoki sud tartibida
                undiriladi.</b> <br>
            2.8 Oshirilgan to'lov-kontrakt asosida qo'shimcha qabul qilingan talabalar birinchi o'quv yilini tugatgandan
            so'ng keyingi o'quv yilidan boshlab amalda o'rnatilgan bazaviy to'lov-kontrakt miqdori asosida o'qishni
            davom ettiradi. <br>
            2.9 Oshirilgan to'lov-kontrakt asosida qo'shimcha qabul qilingan talabalar o'quv yilining ikkinchi
            semestridan uzrli sabablarga ko'ra qatnasha olmaganda, keyingi o'quv yilida o'qishni davom ettirishi uchun
            mazkur shartnomada belgilangan summaning to'lanmagan miqdori to'langanidan so'ng o'qishni davom ettirishi
            mumkin. <br>
        </p>

        <center> <b>3. SHARTNOMANI BEKOR QILISH</b></center>
        <p>
            3.1 Shartnoma quyidagi hollarda bekor qilinishi mumkin: <br>
            3.1.1 Tomonlarning o'zaro roziligi bilan; <br>
            3.1.2 Texnikum Ustaviga muvofiq ma'muriyatning tashabbusiga ko'ra ta'lim oluvchi o'qishdan
            chetlashtirilganda; <br>
            3.1.3 Tomonlardan biri shartnoma shartlarini bajarmaganda; <br>
            3.1.4 Uzrli sabablar bilan ta'lim oluvchining tashabbusiga ko'ra; <br>
            3.1.5 Ta'lim muassasasi yoki tashkilot - buyurtmachi tugatilganida. Ushbu xolda tomonlar o'rtasida yangi
            shartnoma rasmiylashtiriladi; <br>
            3.1.6 Amaldagi qonunchilikda ko'rsatilgan boshqa hollarda. <br>
            3.2 Shartnomaga o'zgartirish va qo'shimchalar tomonlarning kelishuviga asosan kiritiladi. <br>
            3.3 Talaba yoki buyurtmachi(jismoniy shaxs) tomonidan shartnomada belgilangan majuburiyatlarni bajarilmagan
            taqdirda texnikum ushbu shartnomani bir tomonlama bekor qiladi va talabani talabalar safidan chetlashtiradi.
            <br>
            3.4 Tomonlar o'rtasida paydo bo'ladigan nizolar O'zbekiston Respublikasining amaldagi qonunlari asosida hal
            etiladi. <br>
            Shartnoma ikki nusxada tuziladi va barcha tomonlar uni imzolagan kundan boshlab kuchga kiradi.
            4. Shartnomani amal qilish muddati

        </p>

        <center><b>4. Shartnomani amal qilish muddati</b></center>
        <p class="subtitle is-5 mt-3">
            <b> 4.1 Shartnomaning amal qilish muddati 3 kursni tugatgunga qadar bo'lib, talabaning akademik o'qish davri
                uchun 2025 yil iyul hisoblanadi. <br></b>
            4.2 O'qishga qayta tiklangan talabalar bilan o'qishining qolgan qismi uchun o'qishga tiklangan o'quv yilida
            qayta shartnoma rasmiylashtiriladi. <br>
            4.3 Talaba tahsil olayotgan o'quv yillari uchun kontrakt to'lov miqdorlari va ta'riflari o'zgarganda,
            buyurtmachi yoki jismoniy shaxslarga to'lovlarni amalga oshirishlari uchun har bir o'quv yilida to'lov
            varaqalari rasmiylashtirib beriladi. <br>
            Abituriyent (talaba) tomonidan ushbu shartnoma yuklab olingan vaqtdan boshlab taraflar imzolangan
            hisoblanadi va shu kundan kuchga kiradi.
        </p>

        <center><b>TOMONLARNING YURIDIK MANZILLARI</b></center>

        <table border="1px">
            <tr>
                <td style="padding-left: 3px;">
                    <b>Ta'lim muassasasi:</b> Buxoro innovatsion tibbiyot texnikum <br>
                    <b>Pochta manzili:</b> G'ijduvon t.G'ijduvoniy 58 uy <br>
                    <b>Telefon: (90) 712 92 92 Sayt: www.bitt.uz </b><br>
                    <b>INN:</b> 309873220 <br>
                    <b>Bank:</b> "Ipoteka-bank" ATIB <br>
                    <b>MFO:</b> 00088 <br>
                    <b>h/r:</b> 20208000905568484002 <br>
                    <b>To'lov maqsadi:</b> O'qish uchun to'lov puli <br>
                </td>
                <td style="padding-left: 3px; padding-top: 3px;">
                    <b>Buyurtmachi (jismoniy shaxs);</b> <br>
                    <b>To'lovchining F.I.Sh.</b> ______________________________ <br>
                    _________________________________________________
                    <b>Pochta manzili:</b> ___________________________________ <br>
                    <b>Telefon: </b><u> {{first_phone}}</u><b> Telefon:</b><u><u> {{second_phone}}</u> <br>
                        <b>Pasport seriyasi va raqami</b>__________________________ <br>
                        _________________________________________________ <br>
                        <center><b>(pasport kim tomonidan berilgan)</b></center>

                </td>
            </tr>
        </table>

        <br>
        <center><b>TOMONLARNING IMZOLARI</b></center>

        <table border="1px">
            <tr>
                <td style="padding-left: 3px; padding-top: 5px;">
                    <center> <b>Ta'lim muassasasining rahbari</b> </center>
                    <b>Pulatov Nodir Temirovich</b> ______________imzo <br>
                    <b>Bosh hisobchi</b> Abdurahmonova Nigina Bahodirovna
                    <span style="color: white;">____________________</span>_________________imzo <br>
                    <b>Yurist</b> __________________________________________
                    <center> (F.I.Sh) <span style="color: white;">_________________</span>imzo</center>
                </td>
                <td style="padding-left: 5px">
                    <center><b>Jismoniy shaxs</b></center>
                    ___________________________________________ <br>
                    <center> (F.I.Sh) <span style="color: white;">_________________</span>imzo</center>
                    <b>talaba </b><u style="margin-left: 4px;"> {{last_name}} {{first_name}}
                        {{father_name}}</u>
                    <center> (F.I.Sh) <span style="color: white;">_________________</span>imzo</center>


                </td>
            </tr>
        </table>
    </div>

</body>

</html>