<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="header">
        <center><b style="font-size: 14px;">To'lov kontrakt (ikki tomonlama kontrakt) asosida
                mutaxassis
                tayyorlashga</b>
            </center>
        <center>
            <h2>Shartnoma <img src="../static/images/nomer.png" style="width: 21px;"> <u>_{{id}}_</u></h2>
        </center>
    </div>

    <center>
        <h2>Buxoro shahri <span style="color: white;">_________________________________</span>
            {{date}}
        </h2>
    </center>

    
</body>

</html>